body {

font-family: 'Libre Franklin', sans-serif;
}



/*-----------callout containers for background images-------------*/

.callout-container {
    
    height: 100vh;
    background: url("../assets/pics/tm_cl_1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.callout-container2{
    
     height: 100vh;
    background: url("../assets/pics/tm_cl_1_sp.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.callout-container3{
    
     height: 100vh;
    background: url("../assets/pics/tmjt.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.callout-container4{
    
     height: 100vh;
    background: url("../assets/pics/workshop.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
/*----------jumbotron and block dividers-------------*/

.jumbotron {
    margin-bottom: 180px;
    color: #ede9ce;
    background-color: rgba(147, 83, 71, 0.8);
}


.block-divider--small {
    width: 140px;
    height: 5px;
    border: 0;
    background-color: #c7ad88;
    
}

/*-----------Grids and their colors-------------*/

.video-wrapper {
    color: #935347;
    text-align: center;
}
    .video-wrapper2 {
    color: #935347;
    text-align: left;
    padding-left: 14px;
    
    }
/*-----------Tables and their colors-------------*/

.table-responsive {
    
        color: #935347;
        background-color:rgba(250, 250, 250, 0.7);
        font-size: 18px;

}





/*----------navbars--------------*/

.navbar {
    margin-bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color:rgba(100,112,108, 0.8);
    opacity: 1.0;
    border: 0;
    font-size: 18px;    
}



.navbar-default .navbar-text {
    color:#ede9ce;
}
    
.navbar-default .navbar-nav>li>a {
    color: #ede9ce;

}
.navbar-default .navbar-nav>li>a:hover {
    color: #c7ad88;
    background-color: transparent;

}
 .navbar-default .navbar-brand {
    color: rgba(250, 250, 250, 0.7);
    position: absolute;
    padding: 60px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(250, 250, 250, 0.7);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 18px;
    colorrgba(250, 250, 250, 0.7);
    text-align: left;
    list-style: none;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-size: 18px;
    line-height: 1.42857143;
    color:#ede9ce;
    white-space: nowrap;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #c7ad88;
    text-decoration: none;
    background-color: rgba(250, 250, 250, 0.7);

}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #ede9ce;
}

/*-------------------------------------------footer*/


footer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    background-color:rgba(100,112,108, 0.8);
    color: #ede9ce;
    min-height: 100px;
}


.social-links{
    padding-bottom: 10px;

    
}
.social-links li a i{
    width: 40px;
    height: 40px;
    padding-top: 15px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 7px;
    text-align: center;
    color: #64706c;
    background: #ede9ce;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}
.social-links li a i:hover{
    background: #935347;
}


#footer-details {
 margin: 10px;   
}
